{% extends "base.html" %}

{% block title %}
Аккаунт
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Ваш аккаунт</h1>
    <form method="post" action="{{ url_for('account') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.old_password.label(class="form-label") }}
            {{ form.old_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.new_password.label(class="form-label") }}
            {{ form.new_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_new_password.label(class="form-label") }}
            {{ form.confirm_new_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
